machine
obj
.project
.pydevproject
*.project
*.pydevproject
.settings/
*.pyc
*.o
*.lo
*.la
*.vtp
*.vts
*.vtu
*.vtm
*.pptx
*.ppt
*.so
doc/html

parsetab.py

CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
lib
pyACAGD.py
